appnope==0.1.2
argon2-cffi==20.1.0
asgiref==3.3.1
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bleach==3.3.0
Brotli==1.0.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
cycler==0.10.0
dash==2.2.0
dash-bootstrap-components==1.0.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==4.4.2
defusedxml==0.7.1
descartes==1.1.0
Fiona==1.8.21
Flask==2.0.3
Flask-Compress==1.8.0
geopandas==0.10.2
idna==3.3
itsdangerous==2.1.1
Jinja2==2.11.3
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.4
munch==2.5.0
numpy==1.20.1
packaging==20.9
pandas==1.4.1
Pillow==8.1.2
plotly==5.6.0
pycparser==2.20
pyparsing==2.4.7
pyproj==3.3.0
python-dateutil==2.8.1
pytz==2021.1
requests==2.27.1
Shapely==1.8.1.post1
six==1.15.0
sqlparse==0.4.1
tenacity==8.0.1
urllib3==1.26.8
webencodings==0.5.1
Werkzeug==2.0.3